<div id="<%= dom_id flash_card %>">
  <p>
    <strong>Name:</strong>
    <%= flash_card.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flash_card.description %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= flash_card.topic_id %>
  </p>

</div>
