<div id="<%= dom_id flash_card_answer %>">
  <p>
    <strong>Flash card:</strong>
    <%= flash_card_answer.flash_card_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= flash_card_answer.value %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= flash_card_answer.explanation %>
  </p>

</div>
